.App {
  font-family: sans-serif;
  text-align: center;
}

.home-section {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.action {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-link {
  text-decoration: none;
  color: inherit;
}